/* Reset */
* {
	padding: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}

a {
	text-decoration: none;
	color: var(--text0-1);
}

li {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

.marcador::after {
	content: "";
	display: inline-block;
	width: 7px;
	height: 7px;
	background-color: var(--primary-color);
	border: 2px solid #1B222C;
	display: inline-block;
	position: relative;
	left: -1.5px;
	top: -2px;
	margin: 4px 10px 4px 4px;
}

.marcador::before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 15px;
	background-color: var(--primary-color);
	position: relative;
	left: 31px;
	top: 0px;
	margin: 4px 15px 4px 4px;
}


:root {

	/* Cores */

	--primary-color: #6EACFC;
	--primary-color-dark: #395079;
	--secudary-color: #202833;
	--dark: #1B222C;
	--sombra: #252E3B;
	--cinza: #243443;
	--text0-1: #FFFFFF;
	--texto-2: #80858B;

	/* tamanho da fonte */
	--pp: 1em;
	--pequena: 1.125em;
	--pequena-media: 1.5em;
	--media: 1.75em;
	--tamanho-dois: 2em;
	--media-grande: 2.25em;
	--grande: 3em;
}

/* body */

html {
	scroll-behavior: smooth;
}

body {
	font-size: 12px;

	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	color: var(--text0-1);
	background-color: var(--secudary-color);
}

/* Header */

.menu-bg {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 888;
	backdrop-filter: blur(3px);
	padding: 10px 0;
  background: #39517944;
}

.menu {
	max-width: 1200px;
	margin: 0 auto;

	padding: 0 20px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo img {
	width: 250px;
}

.navbar {
	display: flex;
	align-items: center;
}

.navbar li {
	margin-left: 10px;
}

.navbar a {
	display: block;
	padding: 10px 15px;
	font-size: var(--pequena-media);
	font-weight: 300;
	transition: .5s ease;
}

.navbar a:hover {
	color: var(--primary-color);
}

/* menu hamburguer */

.menu-hamburguer {
	display: none;
}

.hamburguer {
	width: 30px;
	height: 30px;

	background-color: transparent;
	border-radius: 10%;
	border: 0;

	position: relative;
	cursor: pointer;
}

.hamburguer::after {
	content: '';

	position: absolute;
	top: 30%;
	left: 15%;

	width: 70%;
	height: 10%;

	background-color: #fff;
	border-radius: 20px;

	transition: 1s ease;
}

.hamburguer::before {
	content: '';

	position: absolute;
	top: 60%;
	left: 44%;

	width: 40%;
	height: 10%;

	background-color: #fff;
	border-radius: 20px;

	transition: 1s ease;
}

#hamburguer:checked ~ label .hamburguer::after {
	transform: rotate(225deg);

	top: 45%;
	left: 15%;

	width: 70%;
	height: 10%;
}

#hamburguer:checked ~ label .hamburguer::before {
	transform: rotate(-225deg);

	top: 45%;
	left: 15%;

	width: 70%;
	height: 10%;
}

/* banner */

.banner {
	max-width: 1200px;
	margin: 0 auto;
	padding: 200px 40px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	background: radial-gradient(50% 50% at 50% 50%, #2F3E52 27.6%, var(--secudary-color) 100%);
}

.banner-info {
	flex: 1 1 300px;
}

.banner-info h1 {
	font-size: var(--grande);
	font-weight: 500;
}

.banner-info h3 {
	font-size: var(--pequena);
	font-weight: 500;
	text-transform: uppercase;
	color: var(--primary-color);
}

.banner-info p {
	max-width: 520px;
	font-size: var(--pequena-media);
	font-weight: 300;
	line-height: 1.6;
	margin-bottom: 2em;
}

.banner-info a {
	max-width: 200px;
	font-size: var(--pequena-media);
	border: 2px solid var(--primary-color);
	border-radius: 5px;
	text-transform: uppercase;

	padding: 15px 55px;

}

.banner-img img {
	max-width: 400px;
}

/* Sobre */

.sobre {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	max-width: 1250px;
	margin: 0 auto;
	padding: 160px 40px 260px 40px;

	justify-content: space-between;
	align-items: center;
}

.sobre-img {
	flex: 1 1 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 200px;
}

.img-principal img {
	width: 220px;
	height: 220px;
	padding: 10px;
	border: 5px solid var(--primary-color);
	border-radius: 50%;
	margin-bottom: 40px;
}

.sobre-img h2 {
	font-size: var(--tamanho-dois);
	font-weight: 400;
	margin-bottom: 15px;
}

.sobre-contato {
	display: flex;
}

.img-div {
	margin: 0 15px;
}

.img-div img {
	width: 35px;
}

.sobre-info {
	flex: 2 1 450px;
	display: flex;
	flex-direction: column;
	margin-right: 75px;
}

.sobre-info h1 {
	position: relative;
	left: -45px;
	font-size: var(--grande);
	margin-bottom: 73px;
}

.sobre-info h3 {
	font-size: var(--media);
	margin-bottom: 40px;
}

.sobre-info p {
	font-size: var(--pequena-media);
	font-weight: 300;
	margin-bottom: 40px;
}

/* Skills */

.skills {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	padding: 100px 0;
	flex-direction: column;
}

.skills h1 {
	position: relative;
	left: -50px;
	margin-bottom: 81px;
	font-size: var(--grande);
	align-self: center;
}

.icons-skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.skill-item {
	flex: 1 1 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}

.skill-item p {
	font-size: var(--media);
	margin-bottom: 10px;
}

.icons-skills img {
	width: 60px;
	transition:all 0.3s ease-out;
}

.tamanho-icon:hover {
	width: 80px;
	transition:all 0.3s ease;
}

.barrinha {
	display: block;
	width: 100px;
	height: 8px;
	border-radius: 4px;
	background: var(--text0-1);
	margin-top: 20px;
}

.barrinha .laranja {
	display: block;
	width: 90%;
	height: 8px;
	border-radius: 4px;
	background: rgb(247, 56, 23);
	box-shadow: 0px 1px 8px rgb(247, 56, 23);
}
.barrinha .azul {
	display: block;
	width: 68%;
	height: 8px;
	border-radius: 4px;
	background: rgb(10, 56, 207);
	box-shadow: 0px 1px 6px rgb(10, 56, 207);
}
.barrinha .verde-escuro {
	display: block;
	width: 58%;
	height: 8px;
	border-radius: 4px;
	background: rgb(10, 173, 24);
	box-shadow: 0px 1px 6px rgb(10, 173, 24);
}
.barrinha .verde-claro {
	display: block;
	width: 30%;
	height: 8px;
	border-radius: 4px;
	background: rgb(43, 255, 0);
	box-shadow: 0px 1px 5px rgb(43, 255, 0);
}
.barrinha .amarelo {
	display: block;
	width: 70%;
	height: 8px;
	border-radius: 4px;
	background: rgb(252, 228, 15);
	box-shadow: 0px 1px 5px rgb(252, 228, 15);
}
.barrinha .lilas {
	display: block;
	width: 85%;
	height: 8px;
	border-radius: 4px;
	background: rgb(165, 23, 247);
	box-shadow: 0px 1px 5px rgb(165, 23, 247);
}

/* Laboratório */

.laboratorio {
	max-width: 1100px;
	margin: 60px auto 0 auto;
	padding: 100px 10px 0 10px;

	display: flex;
	flex-direction: column;
	flex: 1;
}

.laboratorio h1 {
	align-self: center;
	font-size: var(--grande);
	margin-bottom: 81px;
}


.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex: 1;

	margin-bottom: 80px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1 1 280px;
	max-width: 325px;
	background-color: #2A3443;
	border-radius: 10px;
	padding: 10px;
}

.card::before {
	content: "";
	display: block;
	width: 94%;
	height: 10px;
	margin: 0 auto;

	position: relative;
	top: -20px;
	border-radius: 10px 10px 0 0;

	background: var(--primary-color);

}


.card-principal {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: flex-start;
}

div.card:hover > .card-principal {
	display: none;
}

.img-card {
	margin: 0 8px 35px 8px;
}

.img-card img{
	border-radius: 10px;
}

.card-principal h3 {
	font-size: var(--pequena-media);
	font-weight: 500;
	margin: 0 0 20px 10px;
}

.card-principal p {
	font-size: var(--pequena);
	font-weight: 300;
	line-height: 2.5;
	margin: 0 0 30px 10px;
}

.card-hover {
	display: none;
}

div.card:hover > .card-hover {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.card-hover h3 {
	font-size: var(--pequena-media);
	font-weight: 500;
	margin: 0 0 20px 10px;
	padding-top: 20px;
}

.card-hover p {
	font-size: var(--pequena);
	font-weight: 300;
	line-height: 2.5;
	text-align: center;
}

.tecnologias {
	padding-top: 20px;
}

.tecnologias ul {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
}

.tecnologias li {
	font-size: var(--pp);
	color: var(--primary-color);
	font-weight: 500;
	padding: 6px 15px;
	margin-left: 20px;
	margin-bottom: 20px;
	border-radius: 30px;
	border: 2px solid var(--primary-color);
}

.botao-acessar {
	font-size: var(--pequena-media);
	font-weight: 500;
	text-transform: uppercase;
	color: var(--primary-color);

	padding: 15px 90px;
	border-radius: 5px;
	background: var(--secudary-color);

	margin-top: 10px;

}
/* Contato */

.contato {
	max-width: 1200px;
	padding-top: 110px;
	margin: 0 auto 150px auto;
	display: flex;
	flex-direction: column;
	flex: 1;
	align-content: space-between;
	align-items: center;
}

.contato h1 {
	position: relative;
	left: -30px;
	margin-bottom: 81px;
	font-size: var(--grande);
	align-self: center;
}

.contato p {
	font-size: var(--pequena-media);
	font-weight: 300;
	color: var(--texto-2);
}

.contato-container {
	display: flex;
	flex-wrap: wrap;
	padding-top: 100px;
}

.contato-container a {
	font-size: var(--pequena-media);
	font-weight: 300;
	color: var(--texto-2);
}


.contato-info {
	display: flex;
	align-items: center;
	flex: 1 1 100px;
	max-width: 550px;
	height: 40px;
	margin: 0 50px 20px 0;
}

.img-contato {
	width: 40px;
	margin-right: 25px;
}

.contato-container1 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 1;
}

.contato-container2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex: 1;

}


/* Rodape */

.rodape {
	width: 100%;
	height: 130px;
	background: var(--dark);
	display: flex;
	justify-content: center;
	align-items: center;

	border-bottom: 8px solid var(--primary-color);
}

.rodape p {
	font-size: var(--pequena-media);
	font-weight: 400;
	color: var(--texto-2);
}

.rodape span {
	color: var(--primary-color-dark);
}

/* Tablet */

@media screen and (max-width: 1060px) {
	/* header */
	.menu {
		max-width: 860px;
	}

	.banner {
		max-width: 860px;
	}

	/* sobre */

	.sobre {
		flex-direction: column;
		align-content: center;
		max-width: 860px;
	}

	.sobre-img {
		margin-right: 0px;
		padding-bottom: 50px;
	}

	.sobre-info {
		max-width: 800px;
		margin-left: 50px;
	}

	/* skills */

	.skills {
		max-width: 800px;
	}

	.skills h1 {
		position: relative;
		left: -5px;
	}

	/* laboratório */

	.laboratorio {
		max-width: 860px;
	}

	.laboratorio h1 {
		position: relative;
		left: -20px;
	}

	.cards {
		flex-direction: column;
		align-items: center;
	}

	.card {
		margin-bottom: 70px;
	}

	/* contato */

	.contato {
		max-width: 860px;
	}

	.contato-container {
		margin-left: 40px;	
	}
}

/* Mobile */

@media screen and (max-width: 800px) {
	
	.logo img {
		max-width: 200px;
	}

	/* Menu hamburguer */
	
	.menu-hamburguer {
		display: block;
	}

	.navbar {
		position: fixed;
		top: 0;
		right: 0;
		
		margin: 0;
		height: 100vh;
		background-color: rgba(34, 34, 34, 0.705);

		width: 100%;
		max-width: 300px;


		padding: 100px 20px;

		flex-direction: column;
		transition: .5s ease;
	}

	.navbar.active {
		right: -100%;
	}

	/* banner */

	.banner{
		max-width: 530px;
		flex-direction: column-reverse;
		align-items: center;

		background: var(--secudary-color);

		padding-bottom: 20px;
	}

	.banner-info {
		margin-left: 10px;
	}

	.banner-info a {
		max-width: 180px;
		padding: 10px 20px;
	}

	.banner-img img {
		flex: 1 2 200px;
		max-width: 230px;
		margin-bottom: 50px;
	}

	/* sobre */

	.sobre {
		max-width: 530px;
		padding-bottom: 100px;
	}

	.img-principal img {
		width: 150px;
		height: 150px;
	}

	.sobre-img {
		margin-right: 0px;
	}

	.sobre-info {
		margin-right: 0px;
	}

	.sobre-info h1 {
		align-self: center;
	}

	/* skills */

	.skills h1 {
		margin-right: 30px;
	}

	/* laboratorio */

	.laboratorio {
		padding-right: 0px;
	}

	.card {
		max-width: 300px;
	}

	/* contato */

	.contato {
		max-width: 500px;
		align-items: center;
	}

	.contato p {
		text-align: center;
		margin-bottom: 20px;
	}

	.contato-container1 {
		max-width: 50px;
	}

	/* rodape */

	.rodape {
		width: 100%;
	}
}